<DOCTYPE HTML>
    <html>

    <head>
        <title>Contact</title>
        <link rel="stylesheet" href="reset.css">
        <link rel="stylesheet" href="styles.css">
        <link rel="stylesheet" href="social-icon.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    </head>

    <body>
        <header>
            <ul class="heading-class">
                <li><a href="/" id="home-link">./guilherme.monster</a></li>
                <li><a href="/contact.html" id="contact-link">contact</a></li>
            </ul>

        </header>

        <main class="main-class">
            <hr>
            <div class="contain-contact">
                <h1><strong>CONTACT</strong></h1>
                <div id="contact-img">
                    <img src="resources/drinking.jpg" alt="Guilherme drinking wine" />
                </div>
                <p class="middle-text">São Paulo, São Paulo, Brazil</p>
            </div>
        </main>
        <footer class="contant-pe">
            <ul class="contact-icons">
                <li><a href="https://www.linkedin.com/in/guilherme-lu%C3%ADs-12831a1a7/" target="_blank" class="social-icon social-icon--linkedin"></a></li>
                <li><a href="mailto:contact@guilherme.monster" target="_blank" class="social-icon social-icon--email"></a></li>
                <li><a href="https://twitter.com/monstergui22" target="_blank" class="social-icon social-icon--twitter"></a></li>
                <li id="ultimo"><a href="https://www.instagram.com/gld200/" target="_blank" class="social-icon social-icon--instagram"></a></li>
            </ul>
        </footer>
    </body>

    </html>