<DOCTYPE HTML>
    <html>

    <head>
        <title>Home</title>
        <link rel="stylesheet" href="reset.css">
        <link rel="stylesheet" href="styles.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>

    <body>
        <header class="heading-class">
            <a href="/" id="home-link">./guilherme.monster</a>
            <a href="/contact.html" id="contact-link">contact</a>
        </header>
        <hr>
        <main class="main-class">
            <section class="text-class">
                <div class="personal-img-class">
                    <img src="resources/myself.png" id="personal-photo" alt="Guilherme's photo" />
                </div>

                <h1 class="header-one">Hi! I'm <span style="font-weight: 700;">Guilherme.</span></h1>

                I identify myself as <span style="font-weight: 700;">he/him</span>.

                <p>I'm a brazillian software engineer and self-improvement junkie.</P>

                <p>I currently work at Genoa Capital, São Paulo, Brazil. Where I develop software for automatizing finantial market tasks.
                    My previous work was with GoLang where I gave maintenance for a blockchain finantial system.</p>

                <p>Besides self-improvement and programming, I'm also interested in creating value and long-lasting positive impact in our society.</p>

                <p>I have been learning programming since I was 13-years-old.
                    I began working as a software engineer in 2021.
                    Today I feel comfortable programming in C, Python and Golang,
                    I also have a grasp on front-end(HTML, CSS and JS).</p>

                <p>I enjoy sharing knowledge with humanity therefore I created a blog
                    on Medium if you want to check it out click <a href="https://medium.com/@guilhermeluisd" target="_blank">here</a>.</p>

                <p>If you wanna contact me you can find my info on the contact page.</p>
            </section>
            <section class="post">
                <h1 class="header-one">Blog posts</h1>
                <a class="twitter-timeline" data-height="350px" href="https://twitter.com/monstergui22?ref_src=twsrc%5Etfw">Tweets by monstergui22</a>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </section>
        </main>
        </div>
    </body>

    </html>