/*configuração geral*/

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped:wght@200;300&family=Roboto:ital,wght@0,300;0,500;1,100&display=swap');

body {
  width: 1400px;
  min-width: 400px;
  width: 80%;
  margin: 0 auto;
  background-color: aliceblue;
  font-family: 'IBM Plex Sans Thai Looped', sans-serif;
  line-height: 25px;
  /*
  overflow-wrap: break-word;
  overflow-x: hidden;
  */
}

strong {
  font-weight: 700;
}
a {
  color: #2b7bb9;
  text-decoration: none;
}
a:visited {
  color: #2b7bb9;
}
hr {
  margin-bottom: 32px;
}

/*configuração body*/

.heading-class {
  max-width: 960px;
  min-width: 400px;
  width: 80%;
  margin: 64px auto 32px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#personal-photo {
  width: 185px;
  height: 200px;
  margin: 16px auto 16px auto;
  display: block;
  border-radius: 15px;
  /*
  padding-right: 10px;
  */
  padding-bottom: 16px;
}
.main-class {
  max-width: 960px;
  min-width: 400px;
  width: 80%;
  margin: 16px auto 0 auto;
  padding: 16px;
}
.text-class {
  max-width: 960px;
  min-width: 400px;
  width: 80%;
  color: rgb(63, 60, 60);
}
.text-class h1 {
  margin-bottom: 16px;
  font-size: 1.7em;
}
.text-class p {
  margin-bottom: 16px;
}

/*
.header-one {
  display: inline-block;
  font-size: 1.7em;
}
*/

#home-link {
  display: inline-block;
}

#blog-contact-div {
  display: inline-block;
}
/*
.text-class {
  width: 500px;
  margin: 0 auto;
 
}
*/
.twitter-timeline {
  margin-bottom: 25px;
}

#contact-heading {
  text-align: center;
  font-size: 3em;
  margin-top: 50px;
  margin-bottom: 50px;
}

#contact-img {
  display: block;
  margin: auto;
  height: 250px;
  width: 250px;
  border-radius: 3px;
}

.contact-icons {
  display: flex;
  justify-content: space-around;
  margin: auto;
  width: 200px;
}

.middle-text {
  display: block;
  text-align: center;
}
/*
@media screen and (max-width: 1200px) {
  body {
    margin: auto;
    width: 375px;
    font-size: 25px;
    text-align: center;
    line-height: 30px;
  }

  .heading-one {
    margin-bottom: 20px;
  }

  #personal-photo {
    margin-top: 5px 0;
    width: 350px;
    height: 350px;
    float: none;
  }
}

@media screen and (max-width: 500px) {
  body {
    margin: auto;
    width: 375px;
    font-size: 25px;
    text-align: center;
    line-height: 30px;
  }

  .heading-one {
    margin-bottom: 20px;
  }

  #personal-photo {
    margin-top: 5px 0;
    width: 350px;
    height: 350px;
    float: none;
  }
}
*/
