@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped:wght@200;300&family=Roboto:ital,wght@0,300;0,500;1,100&display=swap');

html, body {
    width: 500px;
    background-color:aliceblue;
    font-family: "IBM Plex Sans Thai Looped", sans-serif;
    overflow-wrap: break-word;
    line-height: 25px;
    overflow-x:hidden;

}

p {
    display: inline-block;
    color: #111;
    
}

.header-one {
    display:inline-block;
    font-size: 1.7em;
}

#personal-photo {
    display:inline-block;
    width: 185px;
    height: 200px;
    float: left;
    border-radius: 15px;
    padding-right: 10px;
    padding-bottom: 10px;
}

a {
    color: #2b7bb9;
}

a:visited {
    color: #2b7bb9;
}

#home-link {
    display: inline-block;
}

#blog-contact-div {
    display: inline-block;
}

.text-class {
    width: 500px;
    color: rgb(63, 60, 60);
}

.main-class {
    margin-top: 10px;
    width: 500px;
}

.heading-class {
    display: flex;
    justify-content: space-between;
}

.twitter-timeline {
    margin-bottom: 25px;
}

#contact-heading {
    text-align: center;
    font-size: 3em;
    margin-top: 50px;
    margin-bottom: 50px;
}

#contact-img {
    display: block;
    margin: auto;
    height: 250px;
    width: 250px;
    border-radius: 3px;
}

.contact-icons {
    display: flex;
    justify-content: space-around;
    margin: auto;
    width:200px;
}

.middle-text {
    display:block;
    text-align: center;
}

@media screen and (max-width: 500px) {
    body {
        margin: auto;
        width: 375px;
      font-size: 25px;
      text-align: center;
      line-height: 30px;
    }

    .heading-one {
        margin-bottom: 20px;
    }

    #personal-photo {
        margin-top: 5px 0;
        width: 350px;
        height: 350px;
        float: none;
    }
  }
