/*configuração geral*/

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped:wght@200;300&family=Roboto:ital,wght@0,300;0,500;1,100&display=swap');

body {
  width: 1400px;
  min-width: 400px;
  width: 80%;
  margin: 0 auto;
  background-color: aliceblue;
  font-family: 'IBM Plex Sans Thai Looped', sans-serif;
  line-height: 25px;
}

strong {
  font-weight: 700;
}
a {
  color: #2b7bb9;
  text-decoration: none;
}
a:visited {
  color: #2b7bb9;
}

/*configuração body*/

.heading-class {
  max-width: 960px;
  min-width: 400px;
  width: 80%;
  margin: 64px auto 0px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#personal-photo {
  width: 185px;
  height: 200px;
  margin: 16px auto 16px auto;
  display: block;
  border-radius: 15px;
  padding-bottom: 16px;
}
.main-class {
  max-width: 960px;
  min-width: 400px;
  width: 80%;
  margin: 0 auto 0 auto;
  padding: 0 16px;
}
.text-class {
  max-width: 960px;
  min-width: 400px;
  width: 80%;
  color: rgb(63, 60, 60);
}
.text-class h1 {
  margin-bottom: 16px;
  font-size: 1.7em;
}
.text-class p {
  margin-bottom: 16px;
}
.post h1 {
  margin-bottom: 16px;
}
